*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.crads{
  height: 40%;
  width: 40%;
}
.card{
    height: 40%;
    width: 40%;
}
.card_img{

}
.card_info{

}
.card_catergory{

}
.card_title{

}